
.new{
	background: #cdcde2;
	padding: 20px 60px;
	width:40%;
	border-radius:5px;
}
.new input[type='text']{
	padding:3px 10px;
	font-size:20px;
	border-radius:5px;
	width:40%;
}
input[type='submit']{
	padding:3px 10px;
	font-size:20px;
	border-radius:5px;
}